POSTGRES_USER=shortener
POSTGRES_PASSWORD=shortener
POSTGRES_DB=shortener
POSTGRES_PORT=5433

API_PORT=8000
BOT_TOKEN=

PUBLIC_BASE_URL=http://81.26.181.126:8000

BOT_MODE=webhook
WEBHOOK_BASE_URL=https://myshortbot.duckdns.org
WEBHOOK_PATH=/webhook
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8443

AUTO_SET_WEBHOOK=true

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
# При проксировании через Nginx на подпуть /grafana/:
# GRAFANA_ROOT_URL=https://myshortbot.duckdns.org/grafana/
# GRAFANA_SERVE_FROM_SUB_PATH=true